
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 3px solid lightgrey;
  box-shadow: 3px 4px 5px gray;
}

.content {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}

.box {
  height: 200px;
  width: 200px;
}

.button-container {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content > .details, .content > .button-container {
  width: 25%;
  height: 400px;
  margin: 10px;
}

.cart-button {
  color: white;
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  margin: 40px auto 0 auto;
  font-size: 15px;
}
