.page-icon {
  width: 20%;
  display: block;
  margin-left: 80px;
  margin-right: auto;
}

.content-container {
  display: flex;
  align-items: center;
}

.content {
  text-align: center;
  margin-right: 50px;
  width: 60%;
}
