p {
  text-align: justify;
  font-size: 15px;
  font-family: sans-serif;
}

.element-container {
  display: flex;
  align-items: center;
  margin:0px auto;
  justify-content: space-around;
  width: 90%;
}

.element {
  background: #ffffff;
  border: 3px solid lightgrey;
  text-align: center;
  padding: 20px;
  height: 370px;
  flex-basis: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  transition: all 0.1s ease-in;
  box-shadow: 3px 4px 5px gray;
}

.page-icon {
  width: 20%;
  display: block;
  margin-left: 80px;
  margin-right: auto;
}

.content-container {
  display: flex;
  align-items: center;
}

.content {
  text-align: center;
  margin-right: 50px;
  width: 60%;
}

.element img {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 100px;
}

.element:hover {
  box-shadow: 5px 7px 8px gray;
}

.title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.img-title {
  margin-left: 30px;
}

/* Parent Container */
.content_img{
  position: relative;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.new {
  box-shadow: 7px 4px 7px gray;
}
/* Child Text Container */
.content_img div{
 position: absolute;
 bottom: 10px;
 right: 0;
 background: black;
 color: white;
 opacity: 0;
 width: 100%;
 padding: 20px 20px;
 transition: opacity 0.7s ease-out;
 text-align: right;
}

/* Hover on Parent Container */
.content_img:hover{
 cursor: pointer;
}

.content_img:hover div{
 opacity: 0.7; 
}
