.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: auto;
}

.product {
  height: 300px;
  width: 250px;
  margin: 5px
}

.product img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
